<div class="row">
    <div class="col-md-12">
        <h2>Departments<a href="/departments/add" class="btn btn-success pull-right">Add New Department</a></h2>
        <hr />
        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th>Department No.</th>
                        <th>Department Name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td><a href="/employees?department={{this.departmentId}}">{{this.departmentId}}</a></td>
                        <td><a href="/department/{{this.departmentId}}">{{this.departmentName}}</a></td>
                        <td><a href="/departments/delete/{{this.departmentId}}" class="btn btn-danger">Remove</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{#unless data}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
    {{/unless}}
</div>